PORT=5001
NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET="jewellery_secret_jwt_key_2026_super_secure_key_12345"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"
UPLOAD_DIR="uploads"
MAX_FILE_SIZE=10485760
VITE_API_URL="http://localhost:5001"
METAL_RATE_API_KEY=""
METAL_RATE_PROVIDER="MANUAL"
WHATSAPP_NUMBER="919443949192"

